<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <title>享生活后台管理</title>
    <link rel="stylesheet" href="../public/bootstrap-3.3.4/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/font-awesome-4.3.0/css/font-awesome.min.css">
<!--     <link rel="stylesheet" href="../public/Editor-PHP-1.4.2/css/dataTables.editor.min.css">
    <link rel="stylesheet" href="../public/css/dataTables.tableTools.css"> -->
    <link rel="stylesheet" href="../public/css/jquery.dataTables.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <div id="login-window">
      <div class="login-content">
        <form action="" class="form-signin">
          <input type="text" id="id-input" class="form-control" placeholder="ID">
          <input type="password" id="password-input" class="form-control" placeholder="Password">
          <!-- <a href="#" class="">forget password</a> -->
         <!--  <div class="checkbox">
            <label for=""><input type="checkbox" value="remember-me">Remember me</label>
          </div> -->
          <button id="login-submit" class="btn btn-primary btn-block" type="submit">Sign in</button>
        </form>
        
      </div>
    </div>
    <nav class="navbar navbar-default navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
                
                <a href="#" class="navbar-brand">享生活后台管理</a>
                <!-- <span id="device-login-window-btn" class="nav navbar-right visible-xs-block">
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </span> -->
            </div>
            
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="login-btn" href="#">登陆</a></li>
                </ul>

            </div>
        </div>
    </nav>
    
    <div class="content-wrap content-wrap-left">
        <div class="content-sidebar">
           <div class="sidebar-nav col-md-12">
               <ul class="nav nav-pills nav-stacked sidebar-menu">
                   <li class="sidebar-title nav-header">MENU</li>
                   <li>
                      <a href="index.html"><i class="fa fa-home"></i>主界面</a>
                   </li>
                   <li><a href="user-manage.html"><i class="fa fa-user"></i>用户管理</a></li>
                   <li>
                      <a href="#bill-manage" data-toggle="collapse" aria-expanded="false" aria-control="bill-manage"><i class="fa fa-money"></i>账单管理</a>
                      <ul class="collapse nav nav-pills nav-stacked secondary-menu" id="bill-manage" aria-expanded="false">
                        <li><a href="bill-manage.html">业主账单</a></li>
                        <li><a href="bill-rule.html">规则设置</a></li>
                      </ul>
                   </li>
                   <li>
                      <a href="#serve-manage" data-toggle="collapse" aria-expanded="false" aria-control="serve-manage"><i class="fa fa-server"></i>社区服务</a>
                      <ul class="collapse nav nav-pills nav-stacked secondary-menu" id="serve-manage" aria-expanded="false">
                        <li><a href="resident-repair.html">业主报修</a></li>
                        <li><a href="#">公共监察</a></li>
                        <li><a href="#">访客通讯</a></li>
                      </ul>
                   </li>
                   <li>
                      <a href="#staff-manage" data-toggle="collapse" aria-expanded="false" aria-control="staff-manage"><i class="fa fa-user-secret"></i>职员管理</a>
                      <ul class="collapse nav nav-pills nav-stacked secondary-menu" id="staff-manage" aria-expanded="false">
                        <li><a href="#">职员信息</a></li>
                        <li><a href="#">职员评论</a></li>
                      </ul>
                   </li>
                   <li>
                      <a href="#resident-info" data-toggle="collapse" aria-expanded="false" aria-control="resident-info"><i class="fa fa-users"></i>便民信息</a>
                      <ul class="collapse nav nav-pills nav-stacked secondary-menu" id="resident-info" aria-expanded="false">
                        <li><a href="#">小区动态</a></li>
                        <li><a href="#">办事指南</a></li>
                      </ul>
                   </li>
                   <li><a href="#"><i class="fa fa-line-chart"></i>统计分析</a></li>
                   <li>
                      <a href="#system-config" data-toggle="collapse" aria-expanded="false" aria-control="system-config"><i class="fa fa-gears"></i>系统配置</a>
                      <ul class="collapse nav nav-pills nav-stacked secondary-menu" id="system-config" aria-expanded="false">
                        <li><a href="#">操作日记</a></li>
                        <li><a href="#">数据匹配</a></li>
                        <li><a href="#">参数设置</a></li>
                        <li><a href="#">系统备份</a></li>
                        <li><a href="#">检查更新</a></li>
                      </ul>
                   </li>

               </ul>
           </div> 
        </div>
        <div class="content-body">
            <div class="col-md-12">
                <p class="visible-xs-block">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">
                       <i class="fa fa-arrow-left"></i> 
                    </button>
                </p>
                <div class="row">
                  <div class="col-md-12 box">
                    <div class="box-inner">
                      <div class="box-header">
                        <h5><i class="fa fa-gear"></i>规则设置</h5>
                        <div class="box-icon">
                            <i class="fa fa-info-circle"></i>
                            <i class="fa fa-times"></i>
                        </div>
                      </div>
                      <div class="box-content">
                        <div class="row">
                          <div class="col-md-12">
                            <table id="bill-rule" class="table table-striped table-bordered">
                              <thead>
                                <tr>
                                  <th>账单项目</th>
                                  <th>规则</th>
                                  <th>设置</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th>水电费</th>
                                  <th>x + y</th>
                                  <th>
                                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#billRuleModal"><i class="fa fa-gear"></i></button>
                                  </th>
                                </tr>
                              </tbody>
                              <tbody>
                                <tr>
                                  <th>物业费</th>
                                  <th>x + y</th>
                                  <th>
                                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#billRuleModal"><i class="fa fa-gear"></i></button>
                                  </th>
                                </tr>
                              </tbody>
                              <tbody>
                                <tr>
                                  <th>停车费</th>
                                  <th>x + y</th>
                                  <th>
                                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#billRuleModal"><i class="fa fa-gear"></i></button>
                                  </th>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>

      <div class="modal fade" id="billRuleModal" tabindex="-1" role="dialog" aria-labelledby="billRuleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fa fa-times"></i></span>
              </button>
              <h4 class="modal-title">编辑规则</h4>
            </div>
            <div class="modal-body">
             <div class="form-group">
               <label class="control-label">账单项目</label>
               <input type="text" class="form-control">
               <label class="control-label">规则</label>
               <input type="text" class="form-control">
             </div> 
            </div>
            <div class="modal-footer">
              <button class="btn btn-default" data-dismiss="modal">关闭</button>
              <button class="btn btn-primary">保存</button>
            </div>
          </div>
        </div>
      </div>

        
                
               
                

    <script src="../public/js/jquery-1.11.2.min.js"></script>
    <script src="../public/bootstrap-3.3.4/dist/js/bootstrap.min.js"></script>
    <script src="../public/js/jquery.dataTables.min.js"></script>
    <script src="../public/js/dataTables.tableTools.min.js"></script>
    <script src="../public/Editor-PHP-1.4.2/js/dataTables.editor.min.js"></script>
    <script src="../public/js/dataTables.bootstrap.js"></script>
    <script src="../public/js/main.js"></script>
    <script src="../public/js/bill-rule.js"></script>
</body>
</html>